html {
  scroll-behavior: smooth;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  // padding: 1rem;

  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 180%;

  background: white;
}

ul {
  list-style: none;
}